In [1]:
import numpy as np
import pandas as pd

In [2]:
achievement = pd.read_csv("csv/achievement.csv")

In [3]:
achievement

,exam_year,ks,subject_code,subject_name,n_entries,n_grades_astar_to_c,percent_entries_astar_to_c
0,2016,4,0001,Applied Art & Des,21,13,61.9
1,2016,4,0002,Applied Business,664,486,73.2
2,2016,4,0003,Health & Soc Care,748,556,74.3
3,2016,4,0004,Leisure & Tourism,223,112,50.2
4,2016,4,0005,Manufacturing,116,76,65.5
...,...,...,...,...,...,...,...
790,2021,5,9080,Design and Technology: Product Design,161,140,87.0
791,2021,5,KD1,Journalism,91,84,92.3
792,2021,5,LB1,Dance,5,5,100.0
793,2021,5,MA11,Sports Science,208,200,96.2
794,2021,5,RA1B,Applied Science,455,404,88.8

**Note** that `Inform Comm Tech`/`Information and Communication Technology` subjects have code `2650`, and `Com.Stds`/`Computing`/`Computer Studies` subjects have code `2610`.

In [4]:
achievement['n_grades_astar_to_c'] = pd.to_numeric(achievement['n_grades_astar_to_c'], errors='coerce')
achievement['percent_entries_astar_to_c'] = pd.to_numeric(achievement['percent_entries_astar_to_c'], errors='coerce')

In [5]:
achievement.dtypes

exam_year                       int64
ks                              int64
subject_code                   object
subject_name                   object
n_entries                       int64
n_grades_astar_to_c           float64
percent_entries_astar_to_c    float64
dtype: object

In [7]:
achievement

,exam_year,ks,subject_code,subject_name,n_entries,n_grades_astar_to_c,percent_entries_astar_to_c
0,2016,4,0001,Applied Art & Des,21,13.0,61.9
1,2016,4,0002,Applied Business,664,486.0,73.2
2,2016,4,0003,Health & Soc Care,748,556.0,74.3
3,2016,4,0004,Leisure & Tourism,223,112.0,50.2
4,2016,4,0005,Manufacturing,116,76.0,65.5
...,...,...,...,...,...,...,...
790,2021,5,9080,Design and Technology: Product Design,161,140.0,87.0
791,2021,5,KD1,Journalism,91,84.0,92.3
792,2021,5,LB1,Dance,5,5.0,100.0
793,2021,5,MA11,Sports Science,208,200.0,96.2
794,2021,5,RA1B,Applied Science,455,404.0,88.8

In [6]:
achievement.to_csv("csv/achievement_clean.csv", index=False)